@font-face
{
font-family: sketchrockwell;
src:url(../custome_font/SketchRockwell-Bold.ttf);
}
.jcarousel-wrapper {
    position: relative;
	width:725px;
	height:215px;
	margin:15px auto;
}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    width: 233px !important;
    float: left;
	background:url(file:///E|/PCF_website/box_line.png) no-repeat center right -1px;
	text-align:center;
	height:215px;
	margin-right:13px;
	position:relative;
}
.jcarousel li h3{color: #FFFFFF;
				height: 57px;
				left: 0;
				position: absolute;
				top:147px;
				width: 100%;
				line-height:57px;
				text-align:center;
				font-size:20px;
				opacity:0.9;
				font-family:'sketchrockwell'; }

.jcarousel li img {
    display: block;
    max-width: 100%;
    height: auto !important;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 50%;
    margin-top: -55px;
    width: 20px;
    height: 34px;
    text-align: center;
}

.jcarousel-control-prev {
    left: -13px;
}

.jcarousel-control-next {
    right:4px;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: -40px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin: 0;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;

    font-size: 11px;
    height: 10px;
    width: 10px;
    line-height: 10px;

    background: #fff;
    color: #4E443C;
    border-radius: 10px;
    text-indent: -9999px;

    margin-right: 7px;


    -webkit-box-shadow: 0 0 2px #4E443C;
    -moz-box-shadow: 0 0 2px #4E443C;
    box-shadow: 0 0 2px #4E443C;
}

.jcarousel-pagination a.active {
    background: #4E443C;
    color: #fff;
    opacity: 1;

    -webkit-box-shadow: 0 0 2px #F0EFE7;
    -moz-box-shadow: 0 0 2px #F0EFE7;
    box-shadow: 0 0 2px #F0EFE7;
}
